mixin breadcrumbs(items, last)
	div.breadcrumbs
		ul.breadcrumbs__list
			each item in items
				li.breadcrumbs__item
					a(href="/" title=item)= item
			if last 
				li.breadcrumbs__item.breadcrumbs__item--last= last
mixin menu([...items])
	ul.menu__list
		each item, index in items
			li.menu__item(class={active: item.title == pageTitle})
				a.menu__link(href=item.link)= item.title
				if item.submenu 
					span.menu__arrow 
					div.submenu
						ul.submenu__list 
							each submenuItem, submenuIndex in item.submenu 
								li.submenu__item(class={active: submenuItem.title == pageTitle})
									a.submenu__link(href=submenuItem.link)= submenuItem.title
mixin svgsprite(name)
	svg(class=`svg-svg-${name}-dims`)&attributes(attributes)
		use(xlink:href=`./images/icons/icons.svg#svg-${name}`)
mixin product([...array], className, imgPath)
	each item in array
		section.item-product(class=className)
			.item-product__image.ibg
				img(src=`images/${imgPath}/${item.img}.jpg`, alt=item.title loading="lazy")
			.item-product__body 
				.item-product__info
					.item-product__article Арт 
						| #[span #{item.article}]  
					h2.item-product__title= item.title
					if item.descr
						.item-product__description= item.descr
					ul.item-product__list 
						each listItem in item.list
							li.item-product__list-item= listItem
				.item-product__footer
					.item-product__price
						| #{item.price}
						if item.priceLabel
							| #[span.item-product__price-value #{item.priceLabel}]
					a(href="card.html").item-product__button.btn Подробнее
mixin button(className, title)
	button(type="button" class=className).btn= title
mixin buttonMore(className, title)
	button(type="button" class=className).btn-more= title
mixin categoryList([...array], imgName)
	each item in array
		.categories__item.item-category 
			.item-category__title= item.title
			.item-category__image
				img(src=`images/categories/${imgName}-${item.image}.png`, alt=item.title loading="lazy")
			span.item-category__icon
mixin textBlock(className)
	.text-block(class=className)
		.container 
			.text-block__info
				.text-block__description.content
					.text-block__gradient
					each item in textBlock.descr
						p= item
					each item in textBlock.descr
						p= item
				a(href="#").text-block__link.btn-more Читать далее
mixin breadcrumbs([...array], last)
	div.breadcrumbs
		.container
			nav.breadcrumbs__navigation
				ul.breadcrumbs__list
					each item in array
						li.breadcrumbs__item
							a(href="/" class="breadcrumbs__link")= item
					li.breadcrumbs__item= last
mixin checkbox(title, name, state)
	if state
		input(type="checkbox" id=name name=name checked)
	else 
		input(type="checkbox" id=name name=name)
	label(for=name)= title
		span
	a(href="#" style="display: none;")= title

mixin colorRadio(className, id, name, state)
	li
		if state
			input(type="radio" id=id name=name checked)
		else
			input(type="radio" id=id name=name)
		label(for=id class=className)
			span
mixin sizeRadio(value, id, name, state)
	li
		if state
			input(type="radio" id=id name=name checked)
		else
			input(type="radio" id=id name=name)
		label(for=id class=className) #{value}
mixin modal(modalId, title, subTitle, text, btntTitle, modalClass)
	div(class="graph-modal__container modal__container" role="dialog" aria-modal="true" data-graph-target=modalId class=modalClass)
		button(class="btn-reset graph-modal__close js-modal-close modal__close" aria-label="Закрыть модальное окно")
		div(class="graph-modal__content modal__content")
			.modal__header
				.modal__title= title
				if subTitle
					.modal__subtitle= subTitle
				if text 
					.modal__description= text
			.modal__body
				case modalId
					when "offer"
						form.modal__form(action="#")
							.form__items
								.form-item
									input(type="text" placeholder="Имя" name="name").form-input
									span.error-message Введите корректное имя
								.form-item
									input(type="tel" placeholder="Телефон*" name="phone").form-input
									span.error-message Введите корректный телефон
							.form__bottom.modal-bottom
								input(type="submit" value=btntTitle).form__button.btn
								.form__load.load-file
									label.load-file__label 
										input(type="file").load-file__input.visuallyHidden
										| прикрепить файл
								.modal__text 
									| Отправляя форму, вы даёте согласие на обработку персональных данных в соответствии с #[a(href="#").modal__link политикой обработки персональных данных]
					when "success"
						.modal-bottom
							button(type="button").js-modal-close.btn= btntTitle
					default
						form.modal__form(action="#").form
							.form__items
								.form-item
									input(type="text" placeholder="Имя" name="name").form-input
									span.error-message Введите корректное имя
								.form-item
									input(type="tel" placeholder="Телефон*" name="phone").form-input
									span.error-message Введите корректный телефон
								if modalId == "sale"
									.form-item
										textarea(placeholder="Комментарий" name="comment").form-textarea
							.form__bottom.modal-bottom
								input(type="submit" value=btntTitle).form__button.btn
								.modal__text 
									| Отправляя форму, вы даёте согласие на обработку персональных данных в соответствии с #[a(href="#").modal__link политикой обработки персональных данных]
