extends includes/layout.pug

append variables
	- let pageTitle = "Главная";
	- description += pageTitle;
block content
	.main-screen 
		.container 
			.main-screen__body 
				.main-screen__image
					picture
						source(srcset="images/img-banner-pc.png" media="(min-width: 991.98px)")
						source(srcset="images/img-banner-mobile.png" media="(min-width: 320px)")
						img(src="images/img-banner-pc.png", alt="баннер")
				h1.main-screen__title
					| Производство и оптовая продажа #[span средств индивидуальной защиты]
	.categories.home-categories
		.container 
			.categories__wrapper
				.categories__body 
					each item in homeCategories
						.categories__item.item-category 
							.item-category__title= item.title
							.item-category__image
								img(src=`images/categories/${item.image}.png`, alt=item.title loading="lazy")
							span.item-category__icon
	.popular 
		.container 
			.heading-block.home-heading
					h2.heading-block__title Популярное
			.popular__body 
				+product([...popular], "popular__item", "popular")
				.popular__item.item-product-link
					.popular-spin
						a(href="#").popular-spin__link
							img(src="images/popular/popular-link.svg", class="popular-spin__text" alt="текст спиннера")
							span.popular-spin__arrow
	.new 	
		.container
			.heading-block.home-heading
				h2.heading-block__title Новинки
				.heading-block__controls 
					button(type="button").slider-button.slider-button-prev 
					button(type="button").slider-button.slider-button-next 
			.new__wrapper.swiper
				.new__body.swiper-wrapper
					+product([...popular], "new__item", "popular")
	.about 	
		.container 
			.heading-block.home-heading
				h2.heading-block__title О компании
				a(href="about.html").heading-block__button.about-button.btn-secondary Узнать больше
			.about__body 
				each item, index in aboutBlock
					.about__item.item-about
						.item-about__info 
							.item-about__title= item.title
							.item-about__description= item.descr
						.item-about__image.ibg
							img(src=`images/about/${item.img}.jpg`, alt=item.title loading="lazy")
			.about-button-mobile.btn-secondary Узнать больше
	.offer 
		.container 
			.offer__body 
				form(action="#" enctype="multipart/form-data" id="formOffer").offer__form.form-offer.form
					.form-offer__info
						.form-offer__title Запросить коммерческое предложение
						.form-offer__sub-title Оставьте заявку, и мы оперативно свяжемся с Вами для формирования коммерческого предложения
						+formBody()
				.form-offer__image.ibg
					img(src="images/offer/image.jpg", alt="изображение с формы" loading="lazy")
	+textBlock("home-text-block")